@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>Biggest - About Page</h1>
    <p class="lead">Home of the biggest GAMES</p>
</div>

<div class="col-md-4">

    <h2>Game Monster Wants Candy - Game Objective</h2>
    <p>
        The objective of the game is collect as much candy for your pet monster named Pat. Pat loves candy. 
    </p>
    <p>Pat is good monster who likes to tap dance. He stated tap danceing on Saint Patrick Day at the Saint Patrick Day parade.  Pat loves to perform on stage.</p>
</div>

<div class="col-md-4">

    <h2>Solo Pong - Game Objective</h2>
    <p>
        This game is a off take of the movie War Games.  Becaues the only winning move is not to play.  If you look deeper into this game you see that you are playing your self just like mankind was at war with itself during the cold war.  The white ball is the tention between the two sides constanly testing each-other.
    </p>


</div>

<div class="col-md-4">
    <h2>The Leaderboard</h2>
    <p>Here you can see how much more work you need to put into this game.  It also shows who won the most by putting the most hours into the game.</p>
    <p>@Html.ActionLink("LeaderBoard", "Index", "gamePlays")</p>
</div>

<div class="col-md-4">
    <h2>Projeck Notes</h2>
    <p>The admin User name is farrp2011@live.com<br/>The admin Password is "Password1!"</p><br/>
    <p>This is cool website from where it started... Just about all of my issues where trying to connet to the database. I hate the database. Microsoft really needs to add more documentation about the database.  Every time I wanted to do some this the database it was a fight. </p>
    <p>I found some instructions on line on how to set up ASP.net MVC 5 on a raspberry pi.  I am going to look into over winnter break.</p>
    <p>I really do like ASP.net MVC 5... Mainly for the MVC model.</p>
</div>