@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>Biggest - Contact Page</h1>
    <p class="lead">Home of the biggest GAMES</p>
</div>

<div class="col-md-4">

    <h2>Contact Us</h2>
    <p>Web Master: Paul Farr</p>
    <p>Cell (360)990-0046</p>
    <p>Email: PaulFarr@student.olympic.edu</p>
    <p>Website: <a href="http://paulfarr.org">PaulFarr.org</a></p>
</div>

<div class="col-md-4">
    <h2>Donate!</h2>
    <p>We need money to keep your servers going. So we need all of your Bitcoins.  Send them to this address. <img src="../Content/images/bitcoin_add.png" /></p>
</div>